

body{
    background: linear-gradient(to right,#422680, #f54952);
    display: flex;
    justify-content: center;
    margin-top: 60px;
}
.container{
    height: 500px;
    width: 400px;
    padding: 30px 10px 0px 40px ;
    background-color: azure;
    border-radius: 10px;
}
.container h1{
    text-align: center;
}
.container label{
    font-size: 20px;
}
.container .num{
    height: 30px;
    width: 200px;
}
.container .div-btn{
    text-align: center;
    margin-top: 20px;
}
.container .btn{
    height: 30px;
    width: 100px;
    font-weight: 600;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
    background-color: yellow;
    transition: 0.8s;
}
.container .btn:hover{
    background-color: green;
    color: aliceblue;
}
.result{
    
    text-align: center;
}
.result #res{
    font-size: 22px;
}
.result #tries{
    font-size: 22px;
}
.result .lost{
    color: red;
    font-weight: 600;
}
.result .win{
    color: green;
    font-weight: 600;
}
